@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --bg-color: #020617;
}

body {
  background-color: var(--bg-color);
  color: #fff;
}
